.imc-calc{
    display:grid;
    font-weight: lighter;
    margin:1.5em;
    grid-template-columns: 1fr 1fr;
   
}

.text_info{
    font-family:'Roboto';
    color:#fff;
    text-align:center;
    background: rgba( 255, 255, 255, 0.2 ); 
    backdrop-filter: blur( 12.5px ); 
    -webkit-backdrop-filter: blur( 12.5px ); 
    padding:.5em;
    margin: 1.5em;

}



.calculadora{
    color:#fff; 
    grid-column: 1;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur( 15.5px ); 

   
}

form{
    padding:1em;
    margin: 1em;
    display:flex;
    flex-direction:column;
    gap:1em;
}

form span{
    font-weight: 450;
}
.calculadora label{
    font-size:1.5em;
    font-family:'Roboto';
}

.calculadora input{

    font-size:1em;
    background: rgba(162, 162, 162, 0.516);
    border:none;
    color:white;
    padding:.5em;
    border-radius:5px;
    transition:all 0.3s ease-in-out; 
}

.calculadora button{


    font-size:20px;
    background: rgba(23, 23, 23, 0.585);
    border:none;
    color:white;
    padding:.5em;
    border-radius:5px;
    transition:all 0.2s ease-in-out; 
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.308);
    
}

.calculadora button:hover{
   
    background:var(--secondary);
    cursor:pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 171, 122, 0.768);
}

.calculadora input:focus{
    background:rgba(206, 206, 206, 0.697);
    outline:none;
}

.calculadora h2{
    font-size:2em;
    font-family:'Roboto';
    text-align:center;
}

.resultado{
    grid-column:2;
    display:flex;
    text-align: center;
    font-family:"Roboto";
    font-size:1.5em;
    background:linear-gradient(153deg, rgb(0, 0, 0) 0%, rgba(9, 6, 5, 0.592) 100%),url("/img/galeria/2.jpg");
    background-size:cover;
    background-position:center;
    color: #fff;
    flex-direction:column;
    justify-content:center;
    backdrop-filter: blur( 16.5px ); 
    -webkit-backdrop-filter: blur( 16.5px );  
}
.resultado img{
    padding-left:1em;
}
.resultado h4{
    display:flex;
    justify-content:left;
    padding:1em;
    font-weight:lighter;

    margin:0;
}

.resultado-spans{
   font-weight: lighter;
}

.resultado-spans span{
    font-weight: lighter;
}

.error{
    border : 2px solid rgba(255, 60, 60, 0.999)!important;
    transition: border 1s ease-in-out;
}

.validation-errPeso, .validation-errEstatura{
    opacity:0;
    color:rgb(255, 47, 47);
    font-size:1em;
    font-family:'Roboto';
    text-align:center;
    margin:0;
    padding:0;
}

.mostrar {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }


.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
  appearance: textfield;
}



#resultado p{ 
    font-size:1em;  
    justify-content:center;
    margin:0 auto; 
    padding:1em; 
}

/** Colores resultado*/
.red{
    background:linear-gradient(153deg, rgba(245,36,36,0.5239670868347339) 0%, rgba(0,0,0,0.3925945378151261) 100%);
}

.green{
    background:linear-gradient(153deg, rgba(48,244,149,0.5239670868347339) 0%, rgba(0,0,0,0.3925945378151261) 100%);
}

.yellow{
    background:linear-gradient(153deg, rgba(233,244,48,0.5239670868347339) 0%, rgba(0,0,0,0.3925945378151261) 100%);
}